.button1 {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #ff0000;
  border-radius: 4px;
  font-size: 20px;
}

.button1:hover {
  cursor: pointer;
  border: 2px solid #f0f0f0;
}

.button1:active {
  border: 2px solid #000000;
}

.button1-2 {
  cursor: pointer;
  background-image: url("GPN-Pic-1.jpg");
  background-color: #ff0000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 100%;
  background-position: center;
  background-size: cover;

}
.button1-3 {
  cursor: default;
  background-image: url("IMG_0787 (1).PNG");
  background-color: #ff0000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 100%;
  background-position: center;
  background-size: cover;
}

.button1-3:hover {
  cursor: default;
  border: 2px solid #000000;
}
  .button1-3:active {
    cursor: pointer;
    border: 2px solid #f0f0f0;
}

.button1-4 {
  cursor: pointer;
}

.button1-4:hover {
  cursor: pointer;
}

.button1-5 {
  cursor: default;
  h1: "We Help Gamers Unite.";
}

.button1-5:hover {
  cursor: default;
  h1: "We Divide, and Conquer.";
}

.button2 {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #ff7700;
  border-radius: 4px;
  font-size: 20px;
}
.button2:hover {
  cursor: pointer;
  border: 2px solid #f0f0f0;
}
.button2:active {
  border: 2px solid #000000;
}

.button3 {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #eeff00;
  border-radius: 4px;
  font-size: 20px;
}
.button3:hover {
  cursor: pointer;
  border: 2px solid #f0f0f0;
}
.button3:active {
  border: 2px solid #000000;
}

.button4 {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #00ff00;
  border-radius: 4px;
  font-size: 20px;
}
.button4:hover {
  cursor: pointer;
  border: 2px solid #f0f0f0;
}
.button4:active {
  border: 2px solid #000000;
}

.button5 {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #0000ff;
  border-radius: 4px;
  font-size: 20px;
}
.button5:hover {
  cursor: pointer;
  border: 2px solid #f0f0f0;
}
.button5:active {
  border: 2px solid #000000;
}
.button6 {
cursor: pointer;

}
div.cen {
  text-align: center;
  font-family: helvetica;
}
body.Img1 {
 background-image: url("");
 background-color: #cccccc;
}

}
